
export DB_EXPORT_HOST="localhost"
export DB_EXPORT_USER="root"
export DB_EXPORT_PASSWORD="app1"
export DB_EXPORT_DATABASE="app1"
export DB_EXPORT_PORT=3307
export DB_EXPORT_DUMP_FILE="./dump.sql"

export DB_IMPORT_HOST="localhost"
export DB_IMPORT_USER="root"
export DB_IMPORT_PASSWORD="app2"
export DB_IMPORT_DATABASE="app1"
export DB_IMPORT_PORT=3308
export DB_IMPORT_DUMP_FILE="./dump.sql"
